.container {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    border: 3px solid black;
    padding: 20px;
    margin-right: 50px;
    margin-left: 50px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hand {
    z-index: 1;
    order: 2;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    height: 200px;
}

#rock-img {
    z-index: 1;
    display: none;
}

#paper-img {
    z-index: 1;
    display: none;
} 

#scissors-img {
    z-index: 1;
    display: none;
}

#user {
    align-self: center;
}

#opponent {
    align-self: center;
}

#result {
    align-self: center;
}